body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
}

.app {
 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin: 20px;
 
 
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(88, 42, 73);
  width: 100%;
  max-width: 420px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 22px;
}

.highlight {
  color: #22c55e;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #22c55e;
  color: white;
  transition: 0.3s;
}

button:hover {
  background-color: #16a34a;
}

.mv-display {
  margin-top: 15px;
  padding: 10px;
  background-color: #0f172a;
  border-radius: 8px;
  color: #22c55e;
  text-align: center;
  font-weight: bold;
}

.targets {
  margin-top: 20px;
  padding: 15px;
  background-color: #0f172a;
  border-radius: 8px;
  color: white;
}

.targets div {
  margin-bottom: 8px;
}

.clear-btn {
  background-color: #ef4444;
}

.clear-btn:hover {
  background-color: #dc2626;
}

/* Mobile Fix */
@media (max-width: 480px) {
  .card {
    padding: 18px;
  }

  h1 {
    font-size: 18px;
  }

  input,
  button {
    font-size: 15px;
  }
}
