/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full Screen Centering */
html, body, #root {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  justify-content: center;
  margin-left: 550px;
}

/* Card */
.card {
  width: 100%;
  max-width: 400px;
  padding: 40px 30px;
  border-radius: 20px;
  background: #111827;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  text-align: center;

}


/* Heading */
h1 {
  color: #22c55e;
  font-size: 22px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

/* Input */
input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #1f2937;
  color: #e5e7eb;
  font-size: 15px;
  margin-bottom: 20px;
  outline: none;
}

input::placeholder {
  color: #9ca3af;
}

/* Button */
button {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  background: #bec9c2;
  color: #141e34;
  transition: 0.3s ease;
}

button:hover {
  background: #16a34a;
}

/* MV Display */
.mv-display {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #22c55e;
}
.targets {
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
}

.targets div {
  background: #1f2937;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #e5e7eb;
}


